
/* @import '~view-design/dist/styles/iview.css'; */
/* 想使用iview的less*/
@import '~view-design/src/styles/index.less';

/* 前缀定义 */
@css-prefix: ivu-;
@css-prefix-iconfont: ivu-icon;
/* 选中项的前景色 */
@primary-color: #2d8cf0;
/* 树形菜单的标题色和选中色 */
@menu-dark-title: #515a6e;
@menu-dark-active-bg: #34364a;
/* 边栏背景色 */
@layout-sider-background: #515a6e;
/* 返回顶部 样式覆盖 */
.ivu-back-top {
    z-index: 1001;
}
/* 左边树形目录 样式覆盖 */
.ivu-menu-item > i{
    margin-right: 12px !important;
}
.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
    margin-right: 8px !important;
}
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
    padding-left: 25px !important;
}
/* 自定义的表单内容提示 样式覆盖 */
/* 错误提示 将遮挡 内容提示 样式覆盖 */
.ivu-form-item-notice-tip{
    position: absolute; top: 100%; left: 0; line-height: 1; padding-top: 6px; color: #9E9E9E;
    & + .ivu-form-item-error-tip{
        background: white; width: 100%;
    }
}
/* 下拉框不被其他框架遮挡 样式覆盖 */
.ivu-select .ivu-select-dropdown{
    z-index: 1200;
}
/* loading遮挡 样式覆盖 */
.ivu-spin-fix{
    z-index: 5000;
}
/* 表单可单用可以弹框嵌套使用 样式覆盖 */
.ivu-form-item.ivu-form-submit{
    margin-top: 50px
}
.ivu-modal-body{
    .ivu-form-item.ivu-form-submit{
        margin: 0; height: 50px;
        .ivu-form-item-content{
            margin-left: 80px; text-align: right; position: absolute; bottom: 0; right: 0;
            width: 100%; height: 55px; padding-right: 48px; padding-top: 8px;
            border-top: 1px solid #ddd;
        }
    }
}
