.login{
    width: 100%; height: 100%; 
    background-size: cover; background-position: center; position: relative;
    &.loginUser1{background-image: url('/static/bg.yxzh.png');}
    &.loginUser2{background-image: url('/static/bg.dsp.jpg');}
    &.loginStaff{background-image: url('/static/bg.vue.jpg');}
    &-con{
        position: absolute; right: 22%; top: 50%; transform: translateY(-60%); width: 300px;
        &-header{
            font-size: 16px; font-weight: 300; text-align: center; padding: 30px 0;
        }
        .form-con{
            padding: 10px 0 0;
            text-align: center;
        }
        .login-tip{
            font-size: 10px; text-align: center; color: #568FF4FF;display:inline-block;
        }
    }
    &-footer{
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 65px;
        left:0;
        font-size: 12px;
        color: #fff;
    }
}
