/* reset 经典重置 */
.size{ width: 100%; height: 100%; }
html,body{
    .size;
    overflow: hidden; margin: 0; padding: 0;
}
#app {
    .size;
}
.tc{ text-align: center; }
.fl{ float: left; }
.fr{ float:right; }
.clear:after{ display:block;clear:both;content:"";visibility:hidden;height:0; }
.clear{ zoom:1; }
.hand{ cursor: pointer }
/* 当a元素没有文本值，但 href 属性有链接的时候显示链接 */
a[href^="http"]:empty::before { content: attr(href); }

/* 变量 */
@siderTtriggerSize: 40px;
.trans{ transition: transform .2s ease; }
/* 系统主体样式结构 */
.main{
    /* 左边栏 主要放logo和树形菜单 */
    .left-sider{
        z-index: 1200;overflow:hidden;
        /* logo */
        .logocon{
            height: 60px; padding: 10px;
            img{
                height: 44px; width: auto; display: block; margin: 0 auto;
            }
        }
        /* 复写 树形菜单微调 */
        .ivu-layout-sider-children{
            overflow-y: scroll; margin-right: -18px;
        }
    }
    /* 顶部各项按钮 */
    .main-header{
        transition: all .3s; box-shadow: 0 2px 1px 1px rgba(100,100,100,.1);
        width: 100%; height: 60px; z-index: 1000; display: flex;
        padding: 0 20px;
        .main-header-left{
            height: 60px; width: 30%; min-width: 400px; flex-grow:1;
            > * {
                margin-right: 20px;
            }
            .sidertrigger{
                width: @siderTtriggerSize; text-align: center; color: #5c6b77;
                display: flex; align-items: center;
                i{
                    .trans;
                }
                &.collapsed i{
                    transform: rotateZ(90deg); .trans;
                }
            }
        }
        .main-header-right{
            height: 60px; width: 70%; flex-grow:1;
            > * {
                margin-right: 10px;
            }
            &-linkIcon{
                height: 100%; width: auto; display: flex; align-items: center;
                img{
                    height: 35px;
                }
            }
            .switch-theme{
                height: 100%;
            }
            .switch-theme-con{
                display: inline-block; width: 40px; height: 100%;
            }
            .message-con{
                display: inline-block; width: 30px; padding: 18px 0;
                text-align: center; cursor: pointer;
                i{
                    vertical-align: middle;
                }
            }
            .change-skin{
                font-size: 14px; font-weight: 500; padding-right: 5px;
            }
        }
        .ivu-avatar.userPhoto{
            color: #f56a00;background-color: #fde3cf;margin-left: 10px;
        }
        .navicon-con{
            display: inline-block;
        }
        .header-middle-con{
            padding: 10px; overflow: hidden;
        }
    }
    @media screen and (max-width: 1600px) {
        .main-header-right-linkIcon {
            display: none !important;
        }
    }
    /* 主体局中 主题 */
    &.mianMiddle{
        width: 1280px; margin: 0 auto; box-shadow: 0px 0px 16px #363e4f;
        .main-header-right-linkIcon {
            display: none !important;
        }
    }
    &.logoconflex{
        .logocon{
            display: block; position: absolute; top: 0; left: 0; width: 100%;
            z-index: 1000;
        }
        .left-sider:before{
            content:' ';display:block;height:60px;
        }
    }
    /* 底部公司名 */
    .main-footer{
        padding: 0px;
        text-align: center;
        background: #fff;
        box-shadow: 1px 1px 10px #9d9d9d;
        z-index: 1000;
    }
    /* 内容结构 */
    .main-content-con{
        overflow: hidden;
        .main-layout-con{
            height: 100%; overflow-x: hidden;overflow-y: scroll;
        }
        .tag-nav-wrapper{
            padding: 0; height:40px; background:#F0F0F0;
            .content-wrapper{
                padding: 18px; height: ~"calc(100% - 0px)"; overflow: auto; padding-bottom: 100px !important;
            }
        }
    }
}
.ivu-menu-item > i{
    margin-right: 12px !important;
}
.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
    margin-right: 8px !important;
}
.collased-menu-dropdown{
    width: 100%;
    margin: 0;
    line-height: normal;
    padding: 7px 0 6px 16px;
    clear: both;
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover{
        background: rgba(100, 100, 100, 0.1);
    }
    & * {
        color: #515a6e;
    }
    .ivu-menu-item > i{
        margin-right: 12px !important;
    }
    .ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
        margin-right: 8px !important;
    }
}
.ivu-select-dropdown.ivu-dropdown-transfer{
    max-height: 400px;
}
/* 项目样式 */
.prodectCss{overflow: hidden; background: #fefefe;
}
/* 博客样式 */
.blogCss{
    overflow: hidden; background: #f5f7f9;
    /*&:before{
        content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0;  z-index: -10;
    }*/
    .blog{
        -webkit-box-shadow: 0 0 6px 6px rgb(226, 226, 226);
        box-shadow: 0 0 6px 6px rgb(226, 226, 226); width: 80%;
        margin: 50px auto; padding: 60px 0 0; background: #fff;
        .blogTitle{
            font-size: 39px; font-size: 1.5rem; line-height: 1.2308;
            margin-bottom: 1.2308em; border-bottom: 3px solid #2d8cf0;
            margin: 0 57px; padding: 20px 0 13px 0;
        }
        .blogContent{
            padding: 10px 60px;
            & > p { font-size: 15px; line-height: 42px; }
            p.commend{
                display: block; margin: 10px 0; line-height: 20px;
                padding: 10px; background: #666; color: #00ef77; font-weight: bold;
            }
            & > ul{padding-left: 22px; }
            & > pre{white-space: pre-wrap; }
            & > blockquote { background: #f8f8f9; border-left: 8px solid #2d8cf0; padding: 10px 0 10px 20px; }
        }
        .blogFooter{
            min-height: 100px; background: #f8f8f8; padding: 18px 60px 0; margin: 50px 0 0 0;
        }
        /* 炫目横线 */
        hr{
            display: block; width: 80%; margin: 20px auto; border: 0; height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    }
}
/* API样式 */
table.api{ font-family:Consolas,Menlo,Courier,monospace; font-size:12px; border-collapse:collapse;
    border-spacing:0; empty-cells:show; border:1px solid #e9e9e9; width:100%; margin-bottom:24px;
    th{background:#f7f7f7; white-space:nowrap; color:#5c6b77; font-weight:600}
    td,th{border:1px solid #e9e9e9; padding:8px 16px; text-align:left}
    td ul li{font-size:12px!important}
    .demo-data{color:#b3b3b3}
}
div.api{
    & h2 { font-size: 20px; font-weight: 400; }
    & a { display: none; font-size: 24px; margin-left: 5px; position: relative; top: 2px; }
    & h3 { font-size: 16px; font-weight: 400; }
    & table { font-family: Consolas,Menlo,Courier,monospace; font-size: 12px; border-collapse: collapse; border-spacing: 0; empty-cells: show; border: 1px solid #e9e9e9; width: 100%; margin-bottom: 24px;
        & td,
        & th { border: 1px solid #e9e9e9; padding: 8px 16px; text-align: left; }
        & th { background: #f7f7f7; white-space: nowrap; color: #5c6b77; font-weight: 600; }
        & code {
            display: inline-block; background: #f7f7f7;
            font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; margin: 0 3px;
            padding: 1px 5px; border-radius: 3px; color: #666; border: 1px solid #eee;
        }
    }
}
/* 表格自定义项 */
.tableLayout{
    position: relative; padding:20px;
    .ivu-table{ cursor: pointer; }
    /* 工具栏 就是盛放搜索项的那块 */
    .tableTool{
        display: inline-block;width: 100%;
        > *{margin-right: 10px;max-width: 180px;margin-bottom: 10px;vertical-align: middle;}
        > .fr{margin-right: 0;margin-left: 10px;}
    }
    /* 表格页脚 放置分页的那块 */
    .tableFooter{
        margin: 15px 0; padding: 0 10px; overflow: hidden;
        > *{margin-right: 10px;}
        > .fr{margin-right: 0;margin-left: 10px;}
    }
}
/* 表单复写内容范围 */
.xianFrom {
    position: relative; padding:20px;
    /* 复写表单样式 */
    .ivu-form{width: 100%; padding: 30px 0px; border-left: 1px solid #dcdee2; border-right: 1px solid #dcdee2;}
    /* label 距离 */
    .ivu-form .ivu-form-item-label{ padding: 10px 36px 10px 0; box-sizing: border-box; min-width: 150px; position:relative; }
    /* 必填样式 */
    .ivu-form-item-required .ivu-form-item-label:before { content: "*"; display: inline-block; margin-right: 4px; line-height: 1; font-family: SimSun; font-size: 12px; color: #ed4014; position: absolute; right: 10px; }
    /* 表单项冒号 */
    .ivu-form-item .ivu-form-item-label:after { content: "："; display: inline-block; margin-left: 10px; line-height: 1; }
    /* 表单项文件上传报错也变红 */
    .ivu-form-item-error .ivu-upload-select .ivu-btn { border-color: #ed4014 !important; }
    .ivu-form-item-error .ivu-upload-drag { border-color: #ed4014 !important; }
    /* 表单项富文本报错也变红 */
    .ivu-form-item-error .vue-html5-editor { border-color: #ed4014 !important; }
    .ivu-form-item-error .vue-html5-editor>.toolbar>ul { border-color: #ed4014 !important; }
    /* 表单项单复选报错也变红 */
    .ivu-form-item-error .ivu-radio-inner { border-color: #ed4014 !important; }
    .ivu-form-item-error .ivu-checkbox-inner { border-color: #ed4014 !important; }
}
/* 表单项多文件上传 复制的官网样式 */
.xian-review-list{
    display: inline-block; width: 60px; height: 60px; text-align: center;
    line-height: 60px; border: 1px solid #dcdee2; border-radius: 4px; overflow: hidden;
    background: #fff; position: relative; box-shadow: 0 1px 1px rgba(0,0,0,.2); margin-right: 4px;
    img{ width: 100%; height: 100%; }
}
.xian-review-list-cover{
    display: none; position: absolute; top: 0; bottom: 0;
    left: 0; right: 0; background: rgba(0,0,0,.6);
    i{ color: #fff; font-size: 20px; cursor: pointer; margin: 0 2px; }
}
.xian-review-list:hover .xian-review-list-cover{ display: block; }
/* 表单可单用可以弹框嵌套使用 */
.ivu-form-item.ivu-form-submit{
    margin-top: 50px
}
.ivu-modal-body{
    .ivu-form-item.ivu-form-submit{
        margin: 0; height: 50px;
        .ivu-form-item-content{
            margin-left: 80px; text-align: right; position: absolute; bottom: 0; right: 0;
            width: 100%; height: 55px; padding-right: 48px; padding-top: 8px;
            border-top: 1px solid #ddd;
        }
    }
}
/* //////////////////////////////////////////////////////////////////////////// */
/* 表单标题和tab */
.xian-title-tabs{ margin-top: 30px;
    .ivu-tabs{margin-bottom: 32px;}
    /* tab标签距离左边0 */
    .ivu-tabs .ivu-tabs-bar { border-bottom: 1px solid #dcdee2; margin-bottom: 0; margin-left: 0; }
    h1{ font-size: 26px; font-weight: 400; margin: 0 0 20px 20px;}
    .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container { height: 32px; padding-left: 19px; }
    .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab { margin: 0; margin-right: 15px; }
}
/* 自定义的表单内容提示 */
/* 错误提示 将遮挡 内容提示 */
.ivu-form-item-notice-tip{
    position: absolute; top: 100%; left: 0; line-height: 1; padding-top: 6px; color: #9E9E9E;
    & + .ivu-form-item-error-tip{
        background: white; width: 100%;
    }
}
/* 下拉框不被其他框架遮挡 */
.ivu-select .ivu-select-dropdown{z-index: 1200;}
/* loading遮挡 */
.ivu-spin-fix{z-index: 5000;}
/* placeholder 全局统一 */
::-webkit-input-placeholder { /* WebKit browsers */ color: #bbbec4; font-size: 12px; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #bbbec4; font-size: 12px; }
::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #bbbec4; font-size: 12px; }
:-ms-input-placeholder { /* Internet Explorer 10+ */ color: #bbbec4; font-size: 12px; }
/* scrollbar 统一宽高颜色 */
::-webkit-scrollbar-track{background-color: #F5F5F5;}
::-webkit-scrollbar{width: 6px;height:6px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{background-color: #999;}
/* select 原生控制 */
::selection { background:#e82828; color:#fff;}
::-moz-selection { background:#e82828; color:#fff;}
::-webkit-selection { background:#e82828; color:#fff;}
/* 左边树形目录 */
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item { padding-left: 25px !important; }
/* prettyprint */
pre.prettyprint {
    text-align:left;position: relative;white-space: pre;line-height: 1.7;margin: 0 0 10px 0;
    width: 100%;word-wrap: normal;border: 1px solid #d5e8fc;padding: 15px 10px 15px 0;
    overflow-y: hidden;overflow-x: auto;font-size: 13px;color: #7DA4BD;background-color: #eaf4fe;
    &.linenums {
        box-shadow: inset 40px 0 0 #eaf4fe, inset 41px 0 0 #d5e8fc;
        ol {
            margin: 0;
            li {padding-left: 12px;color: #39382e;line-height: 20px;margin-left: 40px;list-style: decimal;margin-bottom: 0;}
        }
    }
    .com { color: #608094; }
    .lit { color: #e673de; }
    .pun, .opn, .clo { color: #25e582; }
    .fun { color: #dc322f; }
    .str, .atv { color: #FF9800; }
    .kwd, .tag { color: #2196F3; }
    .typ, .atn, .dec, .var { color: #ff616a; }
    .pln { color: #39382e; }
}
/* 右上角用户下拉 */
.user{
    &-avatar-dropdown{
        cursor: pointer; display: inline-block; vertical-align: middle;
        .ivu-badge-dot{ top: 16px; }
    }
}
/* markdown 编辑器 样式复写 */
.markdown-wrapper .CodeMirror-fullscreen { z-index: 6000 !important; }
.CodeMirror-fullscreen { top: 0 !important; }
/* 文本 超链接 颜色 摘自bootstrap:css */
a.text-primary:hover { color: #6254b2; }
.text-primary { color: #7266ba; }
.text-primary-lt { color: #8278c2; }
.text-primary-lter { color: #9289ca; }
.text-primary-dk { color: #6254b2; }
.text-primary-dker { color: #564aa3; }
a.bg-info:hover { background-color: #19a9d5; }
a.text-info:hover { color: #19a9d5; }
.text-info { color: #23b7e5; }
.text-info-lt { color: #3abee8; }
.text-info-lter { color: #51c6ea; }
.text-info-dk { color: #19a9d5; }
.text-info-dker { color: #1797be; }
a.bg-success:hover { background-color: #23ad44; }
a.text-success:hover { color: #23ad44; }
.text-success { color: #27c24c; }
.text-success-lt { color: #2ed556; }
.text-success-lter { color: #43d967; }
.text-success-dk { color: #23ad44; }
.text-success-dker { color: #1e983b; }
a.bg-warning:hover { background-color: #f9d21a; }
a.text-warning:hover { color: #f9d21a; }
.text-warning { color: #fad733; }
.text-warning-lt { color: #fbdc4c; }
.text-warning-lter { color: #fbe165; }
.text-warning-dk { color: #f9d21a; }
.text-warning-dker { color: #f4ca06; }
a.bg-danger:hover { background-color: #ee3939; }
a.text-danger:hover { color: #ee3939; }
.text-danger { color: #f05050; }
.text-danger-lt { color: #f26767; }
.text-danger-lter { color: #f47f7f; }
.text-danger-dk { color: #ee3939; }
.text-danger-dker { color: #ec2121; }
a.bg-dark:hover { background-color: #2f3342; }
a.text-dark:hover { color: #2f3342; }
.text-dark { color: #3a3f51; }
.text-dark-lt { color: #454b60; }
.text-dark-lter { color: #4f566f; }
.text-dark-dk { color: #2f3342; }
.text-dark-dker { color: #252833; }
a.bg-#000000:hover { background-color: #131e25; }
a.text-#000000:hover { color: #131e25; }
.text-#000000 { color: #1c2b36; }
.text-#000000-lt { color: #253847; }
.text-#000000-lter { color: #2d4658; }
.text-#000000-dk { color: #131e25; }
.text-#000000-dker { color: #0b1014; }
.text-white { color: #fff; }
.text-muted { color: #777; }
