/* reset 经典重置 */
.size{ width: 100%; height: 100%; }
html,body{
    .size;
    overflow: hidden; margin: 0; padding: 0;
}
#app {
    .size;
}

/* 变量 */
@siderTtriggerSize: 40px;
.trans{ transition: transform .2s ease; }
/* 系统主体样式结构 */
.main{
    /* 左边栏 主要放logo和树形菜单 */
    .left-sider{
        z-index: 1200;overflow:hidden;
        /* logo */
        .logocon{
            height: 91px; padding: 10px;
            img{
                height: 89px; width: auto; display: block; margin: 0 auto;
            }
        }
        &.ivu-layout-sider-collapsed .logocon{
            height: 36px;
            img{
                height: 27px;
            }
        }
        /* 复写 树形菜单微调 */
        .ivu-layout-sider-children{
            overflow-y: scroll; margin-right: -18px;
        }
    }
    /* 顶部各项按钮 */
    .main-header{
        transition: all .3s; box-shadow: 0 2px 1px 1px rgba(100,100,100,.1);
        width: 100%; height: 60px; z-index: 1000; display: flex;
        padding: 0 20px;
        .main-header-left{
            height: 60px; width: 30%; min-width: 400px; flex-grow:1;
            > * {
                margin-right: 20px;
            }
            .sidertrigger{
                width: @siderTtriggerSize; text-align: center; color: #5c6b77;
                display: flex; align-items: center;
                i{
                    .trans;
                }
                &.collapsed i{
                    transform: rotateZ(90deg); .trans;
                }
            }
        }
        .main-header-right{
            height: 60px; width: 70%; flex-grow:1;
            > * {
                margin-right: 10px;
            }
            &-linkIcon{
                height: 100%; width: auto; display: flex; align-items: center;
                img{
                    height: 35px;
                }
            }
            .switch-theme{
                height: 100%;
            }
            .switch-theme-con{
                display: inline-block; width: 40px; height: 100%;
            }
            .message-con{
                display: inline-block; width: 30px; padding: 18px 0;
                text-align: center; cursor: pointer;
                i{
                    vertical-align: middle;
                }
            }
            .change-skin{
                font-size: 14px; font-weight: 500; padding-right: 5px;
            }
        }
        .ivu-avatar.userPhoto{
            color: #f56a00;background-color: #fde3cf;margin-left: 10px;
        }
        .navicon-con{
            display: inline-block;
        }
        .header-middle-con{
            padding: 10px; overflow: hidden;
        }
    }
    @media screen and (max-width: 1600px) {
        .main-header-right-linkIcon {
            display: none !important;
        }
    }
    /* 主体局中 主题 */
    &.mianMiddle{
        width: 1280px; margin: 0 auto; box-shadow: 0px 0px 16px #363e4f;
        .main-header-right-linkIcon {
            display: none !important;
        }
    }
    &.logoconflex{
        .logocon{
            display: block; position: absolute; top: 0; left: 0; width: 100%;
            z-index: 1000;
        }
        .left-sider:before{
            content:' ';display:block;height:60px;
        }
    }
    /* 底部公司名 */
    .main-footer{
        padding: 0px; text-align: center; background: #fff; box-shadow: 1px 1px 10px #9d9d9d;
        z-index: 1000;
    }
    /* 内容结构 */
    .main-content-con{
        position: relative; overflow: hidden;
        .main-layout-con{
            height: 100%; overflow-x: hidden;overflow-y: scroll;
        }
        .tag-nav-wrapper{
            padding: 0; height:40px; background:#F0F0F0;
        }
        .content-wrapper{
            padding-bottom: 100px !important;
        }
    }
}
.collased-menu-dropdown{
    width: 100%; margin: 0; line-height: normal; padding: 7px 0 6px 16px; clear: both;
    font-size: 12px !important; white-space: nowrap; list-style: none; cursor: pointer;
    transition: background 0.2s ease-in-out;
    &:hover{
        background: rgba(100, 100, 100, 0.1);
    }
    & * {
        color: #515a6e;
    }
    .ivu-menu-item > i{
        margin-right: 12px !important;
    }
    .ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
        margin-right: 8px !important;
    }
}
.ivu-select-dropdown.ivu-dropdown-transfer{
    max-height: 400px;
}
/* 项目样式 */
.prodectCss{overflow: hidden; background: #fefefe;
}
/* 博客样式 */
.blogCss{
    overflow: hidden; background: #f5f7f9;
    /*&:before{
        content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0;  z-index: -10;
    }*/
    .blog{
        -webkit-box-shadow: 0 0 6px 6px rgb(226, 226, 226); box-shadow: 0 0 6px 6px rgb(226, 226, 226);
        width: 80%; margin: 50px auto; padding: 60px 0 0; background: #fff;
        .blogTitle{
            font-size: 39px; font-size: 1.5rem; line-height: 1.2308; margin-bottom: 1.2308em;
            border-bottom: 3px solid #2d8cf0; margin: 0 57px; padding: 20px 0 13px 0;
        }
        .blogContent{
            padding: 10px 60px;
            & > p {
                font-size: 15px; line-height: 42px;
            }
            p.commend{
                display: block; margin: 10px 0; line-height: 20px; padding: 10px; background: #666;
                color: #00ef77; font-weight: bold;
            }
            & > ul{
                padding-left: 22px;
            }
            & > pre{
            }
            & > blockquote {
                background: #f8f8f9; border-left: 8px solid #2d8cf0; padding: 10px 0 10px 20px;
            }
        }
        .blogFooter{
            min-height: 100px; background: #f8f8f8; padding: 18px 60px 0; margin: 50px 0 0 0;
        }
        /* 炫目横线 */
        hr{
            display: block; width: 80%; margin: 20px auto; border: 0; height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    }
}
/* API样式 */
table.api{
    font-family:Consolas,Menlo,Courier,monospace; font-size:12px; border-collapse:collapse;
    border-spacing:0; empty-cells:show; border:1px solid #e9e9e9; width:100%; margin-bottom:24px;
    th{
        background:#f7f7f7; white-space:nowrap; color:#5c6b77; font-weight:600
    }
    td,th{
        border:1px solid #e9e9e9; padding:8px 16px; text-align:left
    }
    td ul li{
        font-size:12px!important
    }
    .demo-data{
        color:#b3b3b3
    }
}
div.api{
    & h2 {
        font-size: 20px; font-weight: 400;
    }
    & a {
        display: none; font-size: 24px; margin-left: 5px; position: relative; top: 2px;
    }
    & h3 {
        font-size: 16px; font-weight: 400;
    }
    & table {
        font-family: Consolas,Menlo,Courier,monospace; font-size: 12px; border-collapse: collapse;
        border-spacing: 0; empty-cells: show; border: 1px solid #e9e9e9; width: 100%; margin-bottom: 24px;
        & td,
        & th {
            border: 1px solid #e9e9e9; padding: 8px 16px; text-align: left;
        }
        & th {
            background: #f7f7f7; white-space: nowrap; color: #5c6b77; font-weight: 600;
        }
        & code {
            display: inline-block; background: #f7f7f7; padding: 1px 5px; color: #666; border-radius: 3px;
            font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; margin: 0 3px;
            border: 1px solid #eee;
        }
    }
}
/* 表格自定义项 */
.tableLayout{
    position: relative; padding:20px;
    .ivu-table{
        cursor: pointer;
    }
    /* 工具栏 就是盛放搜索项的那块 */
    .tableTool{
        display: inline-block;width: 100%;
        /* 表格搜索表单每个控件均长 */
        > *{
            margin-right: 10px;max-width: 180px;margin-bottom: 10px;vertical-align: middle;
        }
        /* 日期范围控件得长一些 */
        > .ivu-date-picker{
            max-width: 210px;
        }
        > .fr{
            margin-right: 0;margin-left: 10px;
        }
    }
    /* 表格页脚 放置分页的那块 */
    .tableFooter{
        margin: 15px 0; padding: 0 10px; overflow: hidden;
        > *{
            margin-right: 10px;
        }
        > .fr{
            margin-right: 0;margin-left: 10px;
        }
    }
}
/* 表单复写内容范围 */
.xianFrom {
    position: relative; padding:20px;
    /* 复写表单样式 */
    .ivu-form{
        width: 100%; padding: 30px 0px; border-left: 1px solid #dcdee2; border-right: 1px solid #dcdee2;
    }
    /* label 距离 */
    .ivu-form .ivu-form-item-label{
        padding: 10px 36px 10px 0; box-sizing: border-box; min-width: 150px; position:relative;
    }
    /* 必填样式 */
    .ivu-form-item-required .ivu-form-item-label:before {
        content: "*"; display: inline-block; margin-right: 4px; line-height: 1; font-family: SimSun;
        font-size: 12px; color: #ed4014; position: absolute; right: 10px;
    }
    /* 表单项冒号 */
    .ivu-form-item .ivu-form-item-label:after {
        content: "："; display: inline-block; margin-left: 10px; line-height: 1; }
    /* 表单项文件上传报错也变红 */
    .ivu-form-item-error .ivu-upload-select .ivu-btn {
        border-color: #ed4014 !important;
    }
    .ivu-form-item-error .ivu-upload-drag {
        border-color: #ed4014 !important;
    }
    /* 表单项富文本报错也变红 */
    .ivu-form-item-error .vue-html5-editor {
        border-color: #ed4014 !important;
    }
    .ivu-form-item-error .vue-html5-editor>.toolbar>ul {
        border-color: #ed4014 !important;
    }
    /* 表单项单复选报错也变红 */
    .ivu-form-item-error .ivu-radio-inner {
        border-color: #ed4014 !important;
    }
    .ivu-form-item-error .ivu-checkbox-inner {
        border-color: #ed4014 !important;
    }
}
/* 表单项多文件上传 复制的官网样式 */
.xian-review-list{
    display: inline-block; width: 60px; height: 60px; background: #fff; text-align: center;
    line-height: 60px; border: 1px solid #dcdee2; border-radius: 4px; overflow: hidden;
    position: relative; box-shadow: 0 1px 1px rgba(0,0,0,.2); margin-right: 4px;
    img{
        width: 100%; height: 100%;
    }
}
.xian-review-list-cover{
    display: none; position: absolute; top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0,0,0,.6);
    i{
        color: #fff; font-size: 20px; cursor: pointer; margin: 0 2px;
    }
}
.xian-review-list:hover .xian-review-list-cover{
    display: block;
}
/* //////////////////////////////////////////////////////////////////////////// */
/* 表单标题和tab */
.xian-title-tabs{
    margin-top: 30px;
    .ivu-tabs{
        margin-bottom: 32px;
    }
    /* tab标签距离左边0 */
    .ivu-tabs .ivu-tabs-bar {
        border-bottom: 1px solid #dcdee2; margin-bottom: 0; margin-left: 0;
    }
    h1{
        font-size: 26px; font-weight: 400; margin: 0 0 20px 20px;
    }
    .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container {
        height: 32px; padding-left: 19px;
    }
    .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab {
        margin: 0; margin-right: 15px;
    }
}

/* 右上角用户下拉 */
.user{
    &-avatar-dropdown{
        cursor: pointer; display: inline-block; vertical-align: middle;
        .ivu-badge-dot{ top: 16px; }
    }
}
/* markdown 编辑器 样式复写 */
.markdown-wrapper .CodeMirror-fullscreen { z-index: 6000 !important; }
.CodeMirror-fullscreen { top: 0 !important; }
/* 文本 超链接 颜色 摘自bootstrap:css */
a.text-primary:hover { color: #6254b2; }
.text-primary { color: #7266ba; }
.text-primary-lt { color: #8278c2; }
.text-primary-lter { color: #9289ca; }
.text-primary-dk { color: #6254b2; }
.text-primary-dker { color: #564aa3; }
a.bg-info:hover { background-color: #19a9d5; }
a.text-info:hover { color: #19a9d5; }
.text-info { color: #23b7e5; }
.text-info-lt { color: #3abee8; }
.text-info-lter { color: #51c6ea; }
.text-info-dk { color: #19a9d5; }
.text-info-dker { color: #1797be; }
a.bg-success:hover { background-color: #23ad44; }
a.text-success:hover { color: #23ad44; }
.text-success { color: #27c24c; }
.text-success-lt { color: #2ed556; }
.text-success-lter { color: #43d967; }
.text-success-dk { color: #23ad44; }
.text-success-dker { color: #1e983b; }
a.bg-warning:hover { background-color: #f9d21a; }
a.text-warning:hover { color: #f9d21a; }
.text-warning { color: #fad733; }
.text-warning-lt { color: #fbdc4c; }
.text-warning-lter { color: #fbe165; }
.text-warning-dk { color: #f9d21a; }
.text-warning-dker { color: #f4ca06; }
a.bg-danger:hover { background-color: #ee3939; }
a.text-danger:hover { color: #ee3939; }
.text-danger { color: #f05050; }
.text-danger-lt { color: #f26767; }
.text-danger-lter { color: #f47f7f; }
.text-danger-dk { color: #ee3939; }
.text-danger-dker { color: #ec2121; }
a.bg-dark:hover { background-color: #2f3342; }
a.text-dark:hover { color: #2f3342; }
.text-dark { color: #3a3f51; }
.text-dark-lt { color: #454b60; }
.text-dark-lter { color: #4f566f; }
.text-dark-dk { color: #2f3342; }
.text-dark-dker { color: #252833; }
a.bg-#000000:hover { background-color: #131e25; }
a.text-#000000:hover { color: #131e25; }
.text-#000000 { color: #1c2b36; }
.text-#000000-lt { color: #253847; }
.text-#000000-lter { color: #2d4658; }
.text-#000000-dk { color: #131e25; }
.text-#000000-dker { color: #0b1014; }
.text-white { color: #fff; }
.text-muted { color: #777; }
/* 颜色背景 */
/*////////////////////////////////////////////////////////////////////////////
* classname:: bg-* color
* included:: 2019-1-23 16:54:48
* position:: color
////////////////////////////////////////////////////////////////////////////*/
.bg-light { color: #58666e; background-color: #edf1f2; }
.bg-light.lt, .bg-light .lt { background-color: #f3f5f6; }
.bg-light.lter, .bg-light .lter {background-color: #f0f0f0;}
.bg-light.dk, .bg-light .dk { background-color: #e4eaec; }
.bg-light.dker, .bg-light .dker { background-color: #dde6e9; }
.bg-light.bg, .bg-light .bg { background-color: #edf1f2; }
.bg-light:hover { color: #363f44; }
.bg-dark { color: #a6a8b1; background-color: #3a3f51; }
.bg-dark.lt, .bg-dark .lt { background-color: #474c5e; }
.bg-dark.lter, .bg-dark .lter { background-color: #54596a; }
.bg-dark.dk, .bg-dark .dk { background-color: #2e3344; }
.bg-dark.dker, .bg-dark .dker { background-color: #232735; }
.bg-dark.bg, .bg-dark .bg { background-color: #3a3f51; }
.bg-black { color: #7793a7; background-color: #1c2b36; }
.bg-black.lt, .bg-black .lt { background-color: #263845; }
.bg-black.lter, .bg-black .lter { background-color: #314554; }
.bg-black.dk, .bg-black .dk { background-color: #131e26; }
.bg-black.dker, .bg-black .dker { background-color: #0a1015; }
.bg-black.bg, .bg-black .bg { background-color: #1c2b36; }
.bg-primary { color: #f4f3f9; background-color: #7266ba; }
.bg-primary.lt, .bg-primary .lt { background-color: #847abf; }
.bg-primary.lter, .bg-primary .lter { background-color: #958dc6; }
.bg-primary.dk, .bg-primary .dk { background-color: #6051b5; }
.bg-primary.dker, .bg-primary .dker { background-color: #5244a9; }
.bg-primary.bg, .bg-primary .bg { background-color: #7266ba; }
.bg-primary:hover { background-color: #6254b2; }
.bg-success { color: #c6efd0; background-color: #27c24c; }
.bg-success.lt, .bg-success .lt { background-color: #31d257; }
.bg-success.lter, .bg-success .lter { background-color: #48d46a; }
.bg-success.dk, .bg-success .dk { background-color: #20af42; }
.bg-success.dker, .bg-success .dker { background-color: #1a9c39; }
.bg-success.bg, .bg-success .bg { background-color: #27c24c; }
.bg-info { color: #dcf2f8; background-color: #23b7e5; }
.bg-info.lt, .bg-info .lt { background-color: #3dbde5; }
.bg-info.lter, .bg-info .lter { background-color: #55c3e6; }
.bg-info.dk, .bg-info .dk { background-color: #16aad8; }
.bg-info.dker, .bg-info .dker { background-color: #1199c4; }
.bg-info.bg, .bg-info .bg { background-color: #23b7e5; }
.bg-warning { color: #fffefa; background-color: #fad733; }
.bg-warning.lt, .bg-warning .lt { background-color: #f8da4e; }
.bg-warning.lter, .bg-warning .lter { background-color: #f7de69; }
.bg-warning.dk, .bg-warning .dk { background-color: #fcd417; }
.bg-warning.dker, .bg-warning .dker { background-color: #face00; }
.bg-warning.bg, .bg-warning .bg { background-color: #fad733; }
.bg-danger {color: #ffffff !important;background-color: #f05050;}
.bg-danger.lt, .bg-danger .lt { background-color: #f06a6a; }
.bg-danger.lter, .bg-danger .lter { background-color: #f18282; }
.bg-danger.dk, .bg-danger .dk { background-color: #f13636; }
.bg-danger.dker, .bg-danger .dker { background-color: #f21b1b; }
.bg-danger.bg, .bg-danger .bg { background-color: #f05050; }
/**
    * 页面主体 想找啥
**/
.main-xiangzhaosha {
    width: auto; background: #fff; padding: 50px; box-shadow: 0 0 6px 6px #e2e2e2;
    .xiangzhaosha-input {
        width: 100%; height: 50px; text-align: center; line-height: 50px; font-size: 22px;
        color: #673AB7; margin-bottom: 20px;
    }
    /* 提示文本也要改 */
    ::-webkit-input-placeholder {font-size: 22px; }
    :-moz-placeholder {font-size: 22px; }
    ::-moz-placeholder {font-size: 22px; }
    :-ms-input-placeholder {font-size: 22px; }
    .xiangzhaosha-content{
        line-height: 40px;
    }
}

/**
    * placeholder-loading v0.2.2 骨架屏Css
    * Author: Zalog (https://www.zalog.ro/)
    * License: MIT
**/
.ph-item {
    position: relative; display: flex; flex-wrap: wrap; padding: 30px 15px 15px 15px; overflow: hidden;
    margin-bottom: 30px; background-color: #fff; border: 1px solid #e6e6e6; border-radius: 2px;
}
.ph-item, .ph-item *, .ph-item ::after, .ph-item ::before { box-sizing: border-box; }
.ph-item::before {
    content: " "; position: absolute; top: 0; right: 0; bottom: 0; left: 50%; z-index: 1; width: 500%; margin-left: -250%;
    -webkit-animation: phAnimation 0.8s linear infinite; animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
}
.ph-item > * { flex: 1 1 auto; display: flex; flex-flow: column; padding-right: 15px; padding-left: 15px; }
.ph-row { display: flex; flex-wrap: wrap; margin-bottom: 7.5px; }
.ph-row div { height: 10px; margin-bottom: 7.5px; background-color: #ced4da; }
.ph-row .big, .ph-row.big div { height: 20px; margin-bottom: 15px; }
.ph-row .empty { background-color: rgba(255, 255, 255, 0); }
.ph-col-2 { flex: 0 0 16.66667%; }
.ph-col-4 { flex: 0 0 33.33333%; }
.ph-col-6 { flex: 0 0 50%; }
.ph-col-8 { flex: 0 0 66.66667%; }
.ph-col-10 { flex: 0 0 83.33333%; }
.ph-col-12 { flex: 0 0 100%; }
.ph-avatar { position: relative; width: 100%; min-width: 60px; background-color: #ced4da; margin-bottom: 15px; border-radius: 50%; overflow: hidden; }
.ph-avatar::before { content: " "; display: block; padding-top: 100%; }
.ph-picture { width: 100%; height: 120px; background-color: #ced4da; margin-bottom: 15px; }
@-webkit-keyframes phAnimation { 0% { transform: translate3d(-30%, 0, 0); } 100% { transform: translate3d(30%, 0, 0); } }
@keyframes phAnimation { 0% { transform: translate3d(-30%, 0, 0); } 100% { transform: translate3d(30%, 0, 0); } }
